.container {
  width: 960px;
   /* border: 1px solid #333; */
   padding: 10px;
   text-align: center;
   background: #e8e8e8;
   /* margin-left: 20px */

}

* {
  box-sizing: border-content;
  -moz-box-sizing: border-content;
  -webkit-box-sizing: border-content;
}

#App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

#post {
  width: 30%;
  height: 150px;
  /* background: #e8e8e8; */
  float: right;
}

#sidebar {
  width: 70%;
  height: 150px;
  float: left;
  text-decoration-style: dashed;
  font: 1em sans-serif;
 }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
